.keygen-h5{
	font: 14px "SegoeUIRegular";
	color: #646464;
}
.keygen-p{
	font: 14px "SegoeUIRegular";
	color: #000;
}

.platf-h4{
  color: #646464;
  font-size: 16px;
}
.tab__{
  background: #F5F5F5;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 725px;
  margin-bottom: 25px;
}
.input-con, .select-con{
  text-indent: 13px;
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: 0px 0px 1px 1px #E6E6E6;
  box-shadow: 0px 0px 1px 1px #E6E6E6;
  min-height: 39px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
  color: #646464;
    option{
      color: #646464;
    }
}
.select-con{
   -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    background-image: url('../img/arrow.png');
    background-position: center;
    background-repeat: no-repeat;
    -ms-background-position-x: 95%;
    background-position-x: 95%;
}
.select-con::-ms-expand {

  display: none;
}
/* ====svodka==== */
 #tabs-2, #tabs-3, #tabs-4, #tabs-5, #tabs-6, #tabs-7 {
  display: none;
}
.svodka{
    .svodka-left{
      width: 71%;
      height: 445px;
    		ul{
          width: 400px;
          margin: 33px 0 0 48px;
    			li{
    				padding: 14px 0;
            border-top: 1px solid #dedede;
              &:last-child{
                border-bottom: 1px solid #dedede;
              }
    				h5, p{
    					margin: auto 0;
    				}
            h5{
              width: 110px;
            }
            .telephone{
              width: 62px;
            }
            p{
              margin-left: 8px;
              min-width: 77px;
            }
    			}
    		}
    }
    .svodka-right{
    	width: 29%;
    		p{
    			img{
    				-webkit-border-radius: 5px;
    				border-radius: 5px;
            margin: 32px auto auto;
    			}
    		}
    }
}







/* ====sdelki==== */
.sdelki__table{
  margin: 0 auto;
}
.sdelki{
    background: #F5F5F5;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 725px;
    border: 1px solid #dedede;
    overflow: hidden;
    margin-bottom: 25px;
    &__head{
        padding-top: 14px;
        padding-left: 20px;
        padding-bottom: 11px;
        font-size: 16px;
        color: #09455c;
    }
    &__table{
        background-color: #dfdfdf;   
        th{
            background-color: #71b6e7;
            text-align: center;
            vertical-align: middle;
            color: #fff;
            padding: 8px 7px;
            font-weight: 300;
            //border: 1px solid #dedede;
        }
        td{
            background-color: #F5F5F5;
        }
        td{
            text-align: center;
            vertical-align: middle;
            padding: 8px;
            font-family: 'BebasRegular';
            color: #646464;
        }

        .won{
            text-transform: uppercase;
            background: #71b6e7;
            color: #fff;
            padding: 3px 12px;
        }

        .lost{
            text-transform: uppercase;
            color: #fff;
            padding: 3px 12px;
            background-color: #646464;
        }
    }
}


/* ====veref==== */

.veref{
    background: #F5F5F5;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 725px;
    border: 1px solid #dedede;
    padding: 33px 36px 21px 40px;
    box-sizing: border-box;
    
    &__title{
        color: #09455c;
        font-size: 30px;
        padding-bottom: 22px;
    }
    
    &__desc{
        color: #09455c;
        padding-bottom: 30px;
        font-size: 16px;
    }

    &__row{
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 25px;
        .one:after{
            content:"";
            position: absolute;
            width: 38px;
            height: 38px;
            top: -4px;
            left: 2px;
            background-image: url(../img/num1.png);    
        }
        .two:after{
            content:"";
            position: absolute;
            width: 38px;
            height: 38px;
            top: -4px;
            left: 2px;
            background-image: url(../img/num2.png); 
        }
        .three:after{  
            content:"";
            position: absolute;
            width: 38px;
            height: 38px;
            top: -4px;
            left: 2px;         
            background-image: url(../img/num3.png);      
        }
    }  

    &__submr{

    } 
}

.veref__name{
    font-size: 14px;
    color: #393e5e;
    padding-left: 50px;
    position: relative;
    width: 170px;   
    bottom: -5px;
    
}

.veref__file{
    width: 152px;

    input[type="file"]{
        position: absolute;
        right: 9999px;
    }

    .look{
        padding: 11px 10px;
        border: 1px solid #646464;
        border-radius: 3px;
        color: #646464;
        font-size: 14px;
        cursor: pointer;
        display: block;
        margin-bottom: 10px;
    }

    button{
        background: none;
        border: none;
        cursor: pointer;
        color: #646464;
        border-bottom: 1px solid #646464;
        &:disabled{
            border: none;
            color: #c0c0c0;
            cursor: auto;
        }
    }

    .upload{
        font-size: 14px;
        color: #46c5ca;
        padding-right: 35px;
    }

    .unload{
        font-size: 14px;
        color: #c0c0c0;
        padding-right: 16px;
    }
}

/* ====broker==== */
.wrapper-broker{
    width: 725px;
}

.broker{
    -webkit-border-radius: 10px;
    border-radius: 5px;
    //width: 990px;
    height: 1250px  ;
    //transform: scale(0.7349)  translateX(-179px) translateY(-218px);
    //margin-bottom: -324px;
} 


/* .b-header{        
    &__top{
        padding: 15px 40px 10px 35px;
        display: flex;
        display: -webkit-flex; 
        justify-content: space-between;
        background-color: #f5f5f5;
    }
    
    &__logo{
        padding-right: 50px;
        img{
            padding-top: 5px;
        }
    }

    &__nav{
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        padding: 14px 0;

    }

    &__link{
        padding: 0 14px;
        font-size: 14px;
        color: #646464;
    }

    &__bot{
        padding-left: 35px;
        background-color: #eaeaea;
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
    }

    &__inf{
        height: 36px;
    }
} */

/* ====change-pers-data==== */
.change-pers-data{
  height: 445px;
  .change-left{
    width: 71%;
    form{
      margin: 36px 0 0 45px;
      width: 350px;
      p{
        margin: 10px 0;
        position: relative;
        label{
          min-width: 66px;
          margin: auto 0;
        }
        input, select{
          width: 100%;
        }
        
        .age-input{
          width: 40px;
          text-align: center;
          text-indent: 0;
          margin-right: 40px;
        }
        .telep{
          width: 133px;
        }
        button{
          margin: 25px 0 0 67px;
        }
      }
    }
  }
  .change-right{
    width: 29%;
      .change-right-item{
          p{
            width: 150px;
            height: 150px;
            overflow: hidden;
            margin: 37px auto auto;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            padding-bottom: 9px;
              img{
              }
          }
          a{
            min-width: 150px;
            min-height: 35px;
            background: transparent;
            border: 1px solid #646464;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            margin: 9px auto;
              span{
                margin: auto;
              }
              &:hover{
                -webkit-box-shadow: 0 0 2px 2px #c6c6c6;
                box-shadow: 0 0 2px 2px #c6c6c6;
              }
          }
      }
  }
}

.change__btn-sub{
  margin-top: 65px;
}
/* ====change-password===== */
.change-password{
  height: 440px;
  .change-password-item{
    padding: 36px 0 0 42px;
    margin-bottom: 30px;
      p{
        color: #09455C;
        font-size: 16px;
          &:first-child{
            margin-bottom: 14px;
          }
      }
  }
  form{
    padding-left: 42px;
    p{
      margin: 10px 0;
        input{
          width: 280px;
        }
    }
    button{
      color: #09455C;
      float: right;
      margin-right: 35px;
    }
  }
}
/* ====analist-contact===== */
.analist-contact{
  border: 1px solid #dedede;
  height: 440px;
    h4{
      color: #09455c;
      font: 16px;
      margin-bottom: 33px;
    }
  .analist-left, .analist-right{
    padding: 33px 0 0 41px;
  }
  .analist-left{
    width: 373px;
      p{
        margin: 11px 0;
        label{
          margin: auto 0;
          width: 123px;
        }
        ::-webkit-input-placeholder {color:#646464;}
        ::-moz-placeholder          {color:#646464;}/* Firefox 19+ */
        :-moz-placeholder           {color:#646464;}/* Firefox 18- */
        :-ms-input-placeholder      {color:#646464;}
        textarea{
          text-indent: 13px;
          border: 1px solid #e6e6e6;
          -webkit-box-shadow: 0px 0px 1px 1px #E6E6E6;
          box-shadow: 0px 0px 1px 1px #E6E6E6;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          width: 365px;
          padding-top: 10px;
        }
        button{
          margin: 14px 0 0 95px;
        }
      }
  }
  .analist-right{
    ul{
      li{
        margin: 30px 0;
        &:first-child{
          padding-top: 8px;
        }
        img{
          margin: auto 15px auto 0;
        }
      }
    }
  }
}

.analist__btn{
  margin-top: 160px;

}
/* ====platforma===== */
.platforma{
  width: 725px;
  .platforma-item{
    margin-top: 4px;
      .platforma-left{
        .currency{
          .cur-top{
              p{
                font-size: 16px;
                color: #646464;
                margin-left: 3px;
                span{
                  font-size: 16px;
                  color: #646464;
                  margin: auto 0;
                }
              }
                img{
                  margin: auto 6px auto 0;
                }
          }
          .grafic{
            width: 487px;
            height: 180px;
            margin: 15px 0;
          }
        }
      }
      .platforma-right{
        .platf-data{
          background: #F5F5F5;
          padding: 22px 22px 18px;
          border: 1px solid #dedede;
          width: 190px;
            .pl-s{
              color: #46C5CA;
              text-align: right;
            }
            .avtotreyd, .cur-right .df, .direct, .summa, .avtotreyd{
              -webkit-justify-content: space-between;
              justify-content: space-between;
            }
            .platf-link{
              h4{
                margin-bottom: 15px;
              }
              .line-platf{
                width: 180px;
                height: 30px;
                position: relative;
                border: 1px solid #eaeaea;
                background: linear-gradient( to top, #dadada, #ececec, #fff);
                -webkit-border-radius: 10px;
                border-radius: 10px;
                margin-bottom: 10px;
                  &:after{
                    position: absolute;
                    content: "";
                    width: 165px;
                    height: 6px;
                    background: #939393;
                    top: 11px;
                    left: 7px;
                    -webkit-border-radius: 3px;
                    border-radius: 3px;
                  }
                  p{
                    position: relative;
                    top: 11px;
                    left: 7px;
                    background: #ea1111;
                    width: 165px;
                    height: 6px;
                    -webkit-border-radius: 3px;
                    border-radius: 3px;
                    z-index: 2;
                  }
              }
              h5{
                margin-bottom: 10px;
              }
            }
            .avtotreyd{

              h4{
                margin: auto 0;
              }
              p{
                text-align: right;
                margin-bottom: 20px;
                  span{
                    margin: auto 0 auto 4px;
                  }
              }
              input[type="checkbox"]{
                position: absolute;
                left: -99999px;
                z-index: -2;
              }
              .switch-btn{
                position: relative;
                padding: 14px 34px;
                border: 1px solid #EAEAEA;
                -webkit-border-radius: 10px;
                border-radius: 10px;
                background: linear-gradient( to top, #dadada, #ececec, #fff);
                  &:after{
                    position: absolute;
                    content: "";
                    top: 8px;
                    left: 12px;
                    background: #46C5CA;
                    width: 44px;
                    height: 12px;
                    -webkit-border-radius: 10px;
                    border-radius: 10px;
                  }
                  &:before{
                    cursor: pointer;
                    position: absolute;
                    z-index: 1;
                    content: "";
                    top: 3px;
                    border: 2px solid #959595;
                    left: 12px;
                    background: linear-gradient( to top, #fff, #dadada);
                    width: 18px;
                    height: 18px;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    -webkit-transition: .2s;
                    -moz-transition: .2s;
                    -ms-transition: .2s;
                    -o-transition: .2s;
                    transition: .2s;
                  }
              }
              input:checked + label:after{
                // background: #12c0c1;
                background: linear-gradient( to top, #fff, #d46e6e);
              }
              input:checked + label:before{
                left: 35px;
                background: linear-gradient( to top, #fff, #d46e6e);
              }
            }
            .time-exp p{
              color: #46C5CA;
              font-size: 16px;
            }
            .btn-a--blue{
              background: linear-gradient(to top, #ea1111, #d23a3a);
              margin:  0 auto;
              border: 1px solid #d23a3a;
              color: #fff;
              &:hover{
                background: linear-gradient(to top, #d23a3a, #ea1111);
                animation-name: spin;
                animation-duration: .7s;
                animation-iteration-count: 1;
                -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.54);
                -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.54);
                box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.54);
              }
            }
            .direct{
              margin-bottom: 35px;
              .direct-item{
                .direct-up{
                  color: #3CA64B;
                  position: relative;
                    &:before{
                      position: relative;
                      content: "";
                      border: 7px solid transparent;
                      border-bottom: 7px solid #3CA64B;
                      bottom: 11px;
                      right: 8px;
                    }
                }
                .direct-down{
                  display: none;
                  color: red;
                  position: relative;
                    &:before{
                      position: relative;
                      content: "";
                      border: 7px solid transparent;
                      border-top: 7px solid red;
                      top: 17px;
                      right: 8px;
                    }
                  }
              }
            }
            .summa{
              margin-bottom: 40px;
                h4{
                  margin: auto 0;
                }
                select{
                  width: 65px;
                  height: 30px;
                  -webkit-border-radius: 3px;
                  border-radius: 3px;
                  border: 1px solid #d28d29;
                  background: linear-gradient( to top, #fdbe4d, #fdd661);
                }
                p{
                  position: relative;
                    &:after{
                      content: url("../img/arrow.png");
                      position: absolute;
                      top: 8px;
                      right: 5px;
                      z-index: 2;
                    }
                }
            }
            .cur-right{
              margin-bottom: 30px;
              div{
                margin-bottom: 9px;
              }
            }
            .time-exp{
              margin-bottom: 23px;
              h4{
                margin-bottom: 9px;
              }
            }
        }
      }
  }
}

/* ============header============= */

.header-logo{
  margin-top: 23px;
}

/* ============animation============*/

.anim-lk{
  &:hover{
                ;
                animation-name: spin;
                animation-duration: .7s;
                animation-iteration-count: 1;
                -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.54);
                -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.54);
                box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.54);
              }
}

@keyframes spin{
  0%{
    transform: scale(1);

  }
  30%{
    transform: scale(1.15);
  } 
  100%{
    transform: scale(1);
    
  }
}