
/* ============main-1============ */
.video-area{
	float: left;
	width: 68%;
	max-width: 700px;
	margin-top: 27px;
	height: 398px;
}

.registr{
	width: 332px;
	margin: 0 5px;
	float: right;
	margin-top: 27px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.registr__head{
	padding: 22px 0;
	text-align: center;
	background-color: #393e5e;
	color: #ffffff;
	font-size: 24px;
}

.registr__form{
 	padding: 22px 20px 20px;
 	/* border: 1px solid #cacaca; */
 	input{
 		margin-bottom: 10px;
 		border-radius: 3px;
 		border: 1px solid #e9e9e9;
 		box-sizing: border-box;
 		padding: 10px;
 		width: 100%;
 		&::-webkit-input-placeholder {color:#646464;}
		&::-moz-placeholder          {color:#646464;}
 	}

 	.half-w{
 		width: 136px;
 		
 	}
}

.registr__items{
	display: -webkit-flex;
 	display: -moz-flex;
 	display: -ms-flex;
 	display: -o-flex;
 	display: flex;
 	display: -webkit-flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	flex-wrap: wrap;
}

.refistr__footer input{
	width: auto;
	position: absolute;
	left: -9999px;
	&:checked ~ .check-style:before{
		background: url(../img/check.svg) no-repeat 50%;
	}
}

.check-style{
	position: relative;
	padding-left: 20px;
	color: #888888;
	font-size: 12px;
	&:before{
		content:"";
		position: absolute;
		top: 0;
		left: 0;
		width: 15px;
   		height: 15px;
		border: 1px solid #434343;
		border-radius: 10px;
		cursor: pointer;

	}
}	

.refist-a{
	font-size: 14px;
}

.refistr__sub{
	width: auto;
	padding: 10px 16px 8px;
	margin: 20px auto 0;
}