
*{padding: 0; margin: 0; outline: none}
ul{list-style-type: none}
a{text-decoration: none; -webkit-transition: .35s;
-moz-transition: .35s;
-ms-transition: .35s;
-o-transition: .35s;
transition: .35s;}
button{
	-webkit-transition: .35s;
	-moz-transition: .35s;
	-ms-transition: .35s;
	-o-transition: .35s;
	transition: .35s;
}

html, body{font: 400 16px/1.1 'SegoeUIRegular', sans-serif}
.container{
	width: 100%;
	max-width: 1060px;
	margin: 0 auto;
	position: relative;
	&:after{
			content: "";
			clear: both;
			display: block;
		}
}

.df{
	display: flex;
	display: -webkit-flex;
}

/* ==================Шрифты=================== */

.osb40{ /* ========Титулки напр. "ВИДЫ ПОДПИСОК" */
  	font: 40px 'SegoeUILight';
 		color: rgb(56, 56, 56);
  	text-align: center;
}

.obs18-a{ /* =======Пункты меню в Хедере */
	font: 18px "SegoeUIRegular";
	color: #646464;
	&:hover{
		color: #46c5ca;
	}
}

.dash-a{
	color: #46c5ca;
	border-bottom: 1px dashed #46c5ca;
	line-height: 1.4;
}
/* ==================Кнопки=================== */

.btn-a--blue{ /* ======Для тега <а>  */
	font-size: 14px;
	display:block;
	padding: 10px 18px 8px;
	border: 1px solid #37aeb3;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border-top-width: 2px;
	background: linear-gradient( to top, #098db3, #23c3eb); 
	color: #000;
	max-width:160px;
	text-align: center;
	box-sizing: border-box;
		&:hover{
			background: linear-gradient( to top, #23c3eb, #098db3); 
		}
}
.btn-b--blue{ /* ======Для тега <Button> в формах */
	display:block;
	font-size: 14px;
	padding: 10px 18px 8px;
	border: 1px solid #37aeb3;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	background: linear-gradient( to top, #098db3, #23c3eb); 
	color: #000;
	width: 160px;
	cursor: pointer;
}

.btn-a--yellow{ /* ======Для тега <а>  */
	display:block;
	font-size: 14px;
	padding: 10px;
	color: #ae6b0c;
	border: 1px solid #ae6b0c;
	max-width:160px;
	text-align: center;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	background: linear-gradient( to top, #fdbd4c, #fdd661);
	box-sizing: border-box;
	margin: auto;
	position: relative;
		&:hover{
			background: linear-gradient(to top, #ffd386, #a27f13);
		}
}

.btn-b--yellow{ /* ======Для тега <Button> в формах */
	display:block;
	font-size: 14px;
	padding: 10px 30px;
	border: 1px solid #ae6b0c;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	background: linear-gradient( to top, #fdbd4c, #fdd661); 
	color: #ae6b0c;
	cursor: pointer;
}
/* =================header===================== */
.wrapper-header{
	display: flex;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.header-top{
	padding: 12px 0;
	background-color: #393e5e;

	.container{
		display: flex;
		display: -webkit-flex;
		justify-content: space-between;
		&:after{
			display:none;
		}
	}

	.num{
		font-size: 18px;
  		color: rgb(255, 255, 255);
  		text-decoration: underline;
  		position: relative;
  		bottom: 5px;
	}

	.tel{
		padding-right: 10px;
	}

	.skype{
		padding-left: 85px;
	}

}

.header-top__lang{
	position: relative;
}

.lang-list{
	position: absolute;
	z-index:1;
	background-color:#393e5e;
	padding: 5px;
	border-radius: 25px;
	display: none;
}

.header-main{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	padding: 12px 0;
	background-color: #f5f5f5;
	.header-logo__slog{
		font-size: 14px;
		color: rgb(57, 62, 94);
  		padding-top: 10px;
  		display: inline-block;
  		text-align: right;
  		vertical-align: top;
  		.header-logo__name{
  			font-size: 36px;
  			font-family: 'SegoeUIBold';
  		}
	}
	.enter{
		padding-top: 15px;
		.submt{
			display: flex;
			display: -webkit-flex;
			-webkit-justify-content: space-between;
			justify-content: space-between;
			align-items: flex-end;
		}
	}

}

.t-area{
	input{
			box-sizing:border-box;
			width: 160px;
			padding: 12px;
			background-color: #e8e9ea;
			border-radius: 2px;
			border: 1px solid #bec3c8;
			&::-webkit-input-placeholder {color:#646464;}
			&::-moz-placeholder          {color:#646464;}/* Firefox 19+ */
		}
}

.submt__links{
	padding-top: 9px;
}

.header-nav__list{
	display: flex;
	display: -webkit-flex;
	margin-top: 15px;
	margin-bottom: 15px;
}

.header-nav__item{
	padding-right: 30px;
}

.logout__link{
	padding-top: 10px;
	padding-bottom: 30px;
	padding-right: 15px;
	width: 100%;
	text-align: right;
	a{
		font-size: 18px;
		color: rgb(57, 62, 94);
	}

	img{
		position: relative;
		top: 3px;
	}
}

.logout__btn{
	button{
		display: inline;
	}

	img{
		position: relative;
    	top: 12px;
   		right: 8px;
	}

}

/* =================sidebar===================== */

.tree{
	padding-top: 30px;
	li{
		display: inline;
	}
}

.tree__link{
	font-size: 14px;
	color: rgb(100, 100, 100);
 	text-decoration: underline;
 	position: relative;
 	padding-right: 24px;
 	&:after{
 		content:">>";
 		position: absolute;
 		top: 3px;
 		right: 0;
 	}
}

.tree__span{
	font-size: 14px;
	color: #49c6cb;
  	
}

.keygen-right__head{
	.balans{
		float: right;
	}
}

/* =================footer===================== */

.footer{
	.footer-top{
		background: #393E5E;
		padding: 55px 0;
			.container{
			    .foot-left{
			    	margin-right: 125px;
			    	ul{
			    		li{
			    			margin: 24px 0;
			    			&:first-child{
			    				margin-top: 0;
			    			}
			    			&:last-child{
			    				margin-bottom: 0;
			    			}
			    			a{
			    				font: 18px "SegoeUIRegular";
			    				color: #FFF;
			    				text-decoration: underline;
			    			}
			    		}
			    	}
			    }
			    .foot-center{
			    	margin-right: 73px;
	    			form{
	    				width: 240px;
	    				p{
	    					position: relative;
	    						input{
	    							height: 35px;
	    							width: 100%;
	    							border: 1px solid #bec3c8;
	    							-webkit-border-radius: 5px;
	    							border-radius: 5px;
	    							background: #363B5A;
	    							text-indent: 13px;
	    							padding-right: 19px;
	    							font: 14px "SegoeUIRegular";
	    						}
	    							::-webkit-input-placeholder {color:#fff;}
										::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
										:-moz-placeholder           {color:#fff;}/* Firefox 18- */
										:-ms-input-placeholder      {color:#fff;}
	    						button{
	    							position: absolute;
	    							cursor: pointer;
	    							top: 2px;
	    							right: 1px;
	    							width: 31px;
	    							height: 31px;
	    							background: #FDC14F;
	    							border: 1px solid #d48f2a;
	    							-webkit-border-radius: 5px;
	    							border-radius: 5px;
	    								img{
	    									margin: auto;
	    								}
	    						}
	    				}
	    			}
			    	ul{
			    		width: 240px;
			    		margin-top: 60px;
			    		li, a{
			    			font: 18px "SegoeUIRegular";
			    			color: #FFF;
			    		}
			    		a:hover{
			    			text-decoration: underline;
			    		}
			    		li{
			    			margin: 22px 0;
			    			display: flex;
			    				img{
			    					margin-right: 12px;
			    				}
			    			&:first-child{
			    				margin-top: 0;
			    			}
			    			&:last-child{
			    				margin-bottom: 0;
			    			}
			    		}
			    	}
			    }
			    .foot-right{
			    	.foot-r-a{
							font-size: 18px;
							color: #975c25;
							border: 1px solid #ae6b0c;
							width:280px;
							text-align: center;
							height: 31px;
							border-radius: 3px;
							-webkit-border-radius: 3px;
							background: linear-gradient( to top, #fdbd4c, #fdd661);
							box-sizing: border-box;
							margin: auto 0 auto auto;
							position: relative;
								&:hover{
									background: linear-gradient(to top, #ffd386, #a27f13);
								}
								img{
									margin: auto 8px auto auto;
								}
								span{
									margin: auto auto auto 0;
								}
			    	}
			    	.consul{
			    		margin-top: 70px;
			    		a{
			    			display: block;
			    			text-align: right;
			    				span{
					    			font: 18px "SegoeUIRegular";
					    			color: #fff;
			    					position: relative;
					    				&:after{
					    					content: "";
					    					position: absolute;
					    					top: 5px;
					    					left: -21px;
					    					background: #00FA23;
					    					width: 14px;
					    					height: 14px;
					    					-webkit-border-radius: 50%;
					    					border-radius: 50%;
					    				}
			    				}
			    		}
			    		p{
			    			margin-top: 15px;
			    			background: #FFF;
			    			-webkit-box-sizing: border-box;
			    			-moz-box-sizing: border-box;
			    			box-sizing: border-box;
			    			width: 480px;
			    			height: 65px;
			    			-webkit-border-radius: 5px;
			    			border-radius: 5px;
			    			span{
			    				color: #383838;
			    				font: 14px "SegoeUIRegular";
			    				padding: 0 13px;
			    				position: relative;
			    				top: 10px;
			    			}
			    		}
			    	}
			    }
			}
	}
	.footer-center{
		background: #fff;
		padding: 45px 0 35px;
		.container{
			ul{
				-webkit-justify-content: space-around;
				justify-content: space-around;
				li{
					img{
						margin: auto;
					}
				}
			}
		}
	}
	.footer-bot{
		background: #393E5E;
		padding: 20px 0 15px;
		.container{
			p{
				font: 14px "SegoeUIRegular";
				color: #FFF;
			}
		}
	}
}
